/* INSPRATION */
/* https://99designs.com/profiles/annauxui/designs/1964064 */
/* http://colormind.io/bootstrap/ */


/* FONTS */
/* Header Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600;800&display=swap');

/* Main Text Font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');

/* Section Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/* COLORS */
:root{
    --light-shade: #E9F9F2;
    --light-accent: #A4DECA;
    --main-brand-color: #83BFC0;
    --dark-brand-color: #708DA3;
    --dark-accent: #5D5A85;
    --dark-shades: #3C464F;
    --img-edges: 15px;
    --img-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
    --hover-bright: brightness(110%);
    --hover-dark: brightness(80%);
    --default-text: 'Nunito', Arial, Helvetica, sans-serif;
}

/* BODY */
html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* GLOBAL STYLES */
.text{
    font-size: 1.4rem; 
    font-family: var(--default-text);
    color: var(--light-shade);
}

.dark-text{
    color: var(--dark-shades);
}

.spacing{
    width: 50%;
}

/* HOME */
#home{
    height: 100vh;
    background: -webkit-linear-gradient(left, #6961CB, #79dfbd);
    display: flex;
}

#home > aside {
    width: 50%;
    margin-left: 2rem;
}

.logo{
    width: 25%;
    height: auto;
    margin-top: 1rem;
}

#home > article{
    margin-left: 4rem;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.quote{
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    font-size: 240%;
    color: var(--light-shade);
    margin-top: 8rem;
    margin-bottom: 1rem;
}

.color-text{
    color: var(--light-accent);
    text-decoration: underline;
}

.learn-more-btn{
    background-color: var(--dark-accent);
    height: 2.5rem;
    width: 9rem;
    border-radius: 5px;
    text-align: center;
    margin-top: 1rem;
    padding-top: 1.2rem;
    text-decoration: none;
    color: var(--light-shade);
    font-family: var(--default-text);
    box-shadow: var(--img-shadow);
}

.learn-more-btn:hover{
    filter: var(--hover-bright);
}

.main-image{
    margin-top: 12rem;
    width: 100%;
    height: auto;
    border-radius: var(--img-edges);
    box-shadow: var(--img-shadow)
}

/* SECTIONS */
main {
    display: flex;
    flex-direction: column;
}

.section-dark{
    background-color: var(--dark-shades);
}

.section-light{
    background-color: var(--light-shade);

}

.section-header{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 5rem;
    position: relative;
    padding-left: 4%;
    margin: 0;
    padding-top: 2rem;
    color: var(--dark-shades);
    -webkit-text-stroke: 1px var(--light-shade);
}

.section-header-light{
    color: var(--light-shade);
    -webkit-text-stroke: 1px var(--dark-shades);
}

/* SKILLS */
.skills-container{
    display: flex;
}

.skills-container > aside{
    width: 40%;
}

.skills-list{
    width: 100%;
    margin-left: 1rem;
}

.skills-img{
    margin-top: 1rem;
    margin-bottom: 5rem;
    margin-left: 3.5rem;
    width: 90%;
    border-radius: var(--img-edges);
    filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(180deg);
    box-shadow: var(--img-shadow);
}

.skill{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    
}

.skill:hover{
    background-color: #303941;
}

.skill-meter{
    margin-top: 0.35rem;
    width: 12rem;
}

.skill-meter::-webkit-meter-bar{
    background: var(--dark-accent);
}

.skill-meter::-webkit-meter-optimum-value {
    background: var(--light-accent);
}

.proficiency{
    display: none;
}

.skill:hover + .proficiency{
    display: flex;
    justify-content: end;
    z-index: 10;
    background-color: #303941;
    margin-top: -1rem;
    padding: 0.2rem;
    padding-right: 0.7rem;
    color: var(--light-shade);
    font-family: var(--default-text);
}

/* PROJECTS */
.projects-container{
    display: flex;
    justify-content: center;
}

.col-container{
    width: 90%;
    display: flex;
    flex-direction: row;
}

.col{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.card{
    height: 20rem;
    width: 18rem;
    border-radius: var(--img-edges);
    box-shadow: var(--img-shadow);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5rem;
}

.card-dark{
    background-color: var(--dark-shades);
}

.card-medium{
    background-color: var(--dark-accent);
}

.card-light{
    background-color: var(--main-brand-color);
}

.project-img{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1.5rem;
    border-radius: var(--img-edges);
    box-shadow: var(--img-shadow);
}

.project-img:hover{
    filter: var(--hover-dark);
}

.project-text{
    margin: 1rem;
    font-size: 1.5rem;
}

.project-link{
    margin-top: 2rem;
    margin-bottom: -1rem;
    position: relative;
    z-index: 3;
}

.project-link:hover{
    color: var(--main-brand-color);
}

.project-overlay{
    position:relative;
    z-index:2;
    right:0; bottom:175px; left:0;
    height:200px;
    margin-bottom: -175px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  rgba(233, 249, 242, 0) 0%, rgba(233, 249, 242,1) 70%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(233, 249, 242,0)), color-stop(70%,rgba(233, 249, 242,1)));
    background: -webkit-linear-gradient(top,  rgba(233, 249, 242,0) 0%,rgba(233, 249, 242,1) 70%);
    background: -o-linear-gradient(top,  rgba(233, 249, 242,0) 0%,rgba(233, 249, 242,1) 70%);
    background: -ms-linear-gradient(top,  rgba(233, 249, 242,0) 0%,rgba(233, 249, 242,1) 70%);
    background: linear-gradient(to bottom,  rgba(233, 249, 242,0) 0%,rgba(233, 249, 242,1) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}

/* RESUME */
.resume-container{
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 3rem;
}

h2{
    border-bottom: 3px solid var(--main-brand-color);
}

/* ABOUT */
.about-container{
    margin-left: 4rem;
    display: flex;
    margin-bottom: 2rem;
}

.about-header{
    margin-bottom: -0.3rem;
}

.title{
    margin-left: 4rem;
    margin-top: 0;
    margin-bottom: 0;
}

.about-container > aside{
    display: flex;
    justify-content: end;
}

.headshot-sq{
    display: none;
}

.headshot{
    height: 28rem;
    width: auto;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: -6rem;
    filter: grayscale(100%);
    border-radius: var(--img-edges);
    box-shadow: var(--img-shadow);
}

/* CONTACT */
.contacts{
    display: flex;
    align-items: center;
}

.fab{
    margin-left: 2rem;
    margin-top: 2rem;
    color: var(--light-shade);
    font-size: 4rem;
}

.fab:hover{
    filter: var(--hover-dark);
}

form{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.form-input{
    margin-top: -20px;
    margin-bottom: 40px;
}

fieldset{
    border: none;
    margin-left: 3rem;
}

.form-list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 16rem;
    margin-bottom: -1rem;
}

.form-input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.form-input > label{
    flex-basis: 10rem;
    align-self: center;
}

.input-field, #message{
    width: 40%;
    height: 2rem;
    border-radius: 5px;
    background-color: var(--dark-accent);
    border: none;
    color: var(--light-shade);
    font-family: var(--default-text);
    font-size: 18px;
    padding: 5px;
    outline-style: none;
    box-shadow: var(--img-shadow);
}

.input-field:hover{
    filter: var(--hover-dark);
}

#message{
    height: 10rem;
}

#message:hover{
    filter: var(--hover-dark)
}

.email-form-btn{
    color: #2d2e36;
    background: -webkit-linear-gradient(left, #6961CB, #79dfbd);
    width: 200px;
    height: 60px;
    border-radius: 5px;
    border: none;
    font-family: var(--default-text);
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 20px;
    box-shadow: var(--img-shadow);
}

.email-form-btn:hover{
    filter: var(--hover-bright);
}

/* VERTICAL PHONES */
@media screen and (max-width: 600px) {
    /* HOME */
    .menu-bars, nav{
        display: none;
    }

    .logo{
        width: 20%;
        height: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .greeting{
        margin-top: -7rem;
        width: 90%;
    }

    .quote{
        font-size: 160%;
    }

    .objective{
        margin-top: 0;
        width: 100%;
        font-size: 120%;
    }

    .header-image{
        display: flex;
        flex-direction: column;
    }

    .main-image{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        top: 6.5rem;
    }

    /* SKILLS */
    .section-header{
        padding-top: 1rem;
        font-size: 3rem;
    }

    .skills-container{
        display: flex;
        flex-direction: column;
    }

    .skills-img{
        width: 180%;
        margin-left: 1.2rem;
    }

    .skill{
        width: 90%;
        margin-left: -0.5rem;
    }

    .skill-label{
        font-size: 1.2rem;
    }

    /* PROJECTS */
    .col-container{
        flex-direction: column;
        align-items: center;
    }

    .col:nth-of-type(3){
        display: none;
    }

    .card{
        margin-top: 4rem;
    }
    
    .card-medium{
        margin-top: 0;
    }

    .project-link{
        white-space: nowrap;
    }

    /* RESUME */
    .resume-container{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .resume-container > h3{
        font-size: 1.5rem;
        margin-bottom: -0.5rem;
    }

    .resume-container > ul, p{
        font-size: 1.15rem;
    }

    /* ABOUT */
    .title{
        margin-left: 1rem;
    }

    .about-spacing{
        width: 100%;
    }

    .about-container{
        margin-left: 1rem;
        margin-right: 1rem;
        flex-direction: column;
    }

    .about-header{
        font-size: 1.29rem;
    }

    .headshot{
        display: none;
    }

    .headshot-sq{
        display: block;
        width: 100%;
        height: auto;
        border-radius: var(--img-edges);
        filter: grayscale(100%);
    }

    /* CONTACT */
    .fab{
        font-size: 2.5rem;
        margin-left: 1rem;
        margin-top: 1rem;
    }

    form{
        padding-top: 0;
        padding-bottom: 50px;
    }

    fieldset{
        margin-left: -3rem;
        margin-right: 3rem;
    }

    .form-list{
        width: 100%;
    }

    .form-input{
        flex-direction: column;
        margin-left: 0.65rem;
    }

    .form-input > label{
        flex-basis: 2rem;
        font-size: 1.2rem;
        margin: 0;
        margin-right: auto;
    }

    .input-field, #message{
        width: 90vw;
    }
}