/* INSPRATION */
/* https://99designs.com/profiles/annauxui/designs/1964064 */
/* http://colormind.io/bootstrap/ */


/* FONTS */
/* Header Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600;800&display=swap');

/* Main Text Font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');

/* Section Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/* COLORS */
:root{
    --light-shade: #E9F9F2;
    --light-accent: #A4DECA;
    --main-brand-color: #83BFC0;
    --dark-accent: #5D5A85;
    --dark-shades: #3C464F;
    --img-edges: 15px;
}

/* BODY */
html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* GLOBAL STYLES */
.text{
    font-size: 140%; 
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    color: var(--light-shade);
}

.dark-text{
    color: var(--dark-shades);
}


.spacing{
    width: 50%;
}

/* NAV */
.menu-bars {
    position: fixed;
    top: 1rem;
    right: 2rem;
    z-index: 9;
    display: inline;
    cursor: pointer;
}

.bar {
    width: 36px;
    height: 2px;
    background-color: #fff;
    margin: 8px 0;
    transition: 0.4s;
}

.overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    transform: translateX(100vw);
}
  
.overlay-slide-left {
    transition: all 0.4s ease-in-out;
    transform: translateX(100vw);
}
  
.overlay-slide-right {
    transition: all 0.6s ease-in-out;
    transform: translateX(85vw);
}

/* Nav Menu Items */
nav,
nav ul {
  height: 100vh;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
}

nav ul li {
  height: 20%;
  width: 15%;
  overflow: hidden;
  margin-left: 15vw;
}

nav li a {
  position: relative;
  top: 45%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
}

nav li a:hover {
  transform: scale(1.2);
}

nav li:nth-of-type(1) {
  background-color: var(--light-shade);
}

nav li:nth-of-type(2) {
  background-color: var(--light-accent);
}

nav li:nth-of-type(3) {
  background-color: var(--main-brand-color);
}

nav li:nth-of-type(4) {
  background-color: #708DA3;
}

nav li:nth-of-type(5) {
  background-color: var(--dark-accent);
}

nav li:nth-of-type(6) {
    background-color: var(--dark-shades);
}

/* Slide in animation with delay for each nav item */
.slide-in-1 {
  animation: slide-in 0.4s linear 0.1s both;
}

.slide-in-2 {
  animation: slide-in 0.4s linear 0.2s both;
}

.slide-in-3 {
  animation: slide-in 0.4s linear 0.3s both;
}

.slide-in-4 {
  animation: slide-in 0.4s linear 0.4s both;
}

.slide-in-5 {
  animation: slide-in 0.4s linear 0.5s both;
}

.slide-in-6 {
    animation: slide-in 0.4s linear 0.6s both;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to{
    transform: translateX(0);
  }
}

/* Slide out animation with delay for each nav item */
.slide-out-1 {
  animation: slide-out 0.5s linear 0.6s both;
}

.slide-out-2 {
  animation: slide-out 0.5s linear 0.5s both;
}

.slide-out-3 {
  animation: slide-out 0.5s linear 0.4s both;
}

.slide-out-4 {
  animation: slide-out 0.5s linear 0.3s both;
}

.slide-out-5 {
  animation: slide-out 0.5s linear 0.2s both;
}

.slide-out-6 {
  animation: slide-out 0.5s linear 0.1s both;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }

  to{
    transform: translateX(-100%);
  }
}

.logo{
    flex: 0.11;
    height: 25%;
    margin-left: 3%;
}

/* HOME */
#home{
    height: 100vh;
    width: 100%;
    background: -webkit-linear-gradient(left, #6961CB, #79dfbd);
}

.greeting{
    margin-left: 4%;
    width: 40%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5rem;
}

.quote{
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    font-size: 240%;
    color: var(--light-shade);
}

.color-text{
    color: var(--light-accent);
    text-decoration: underline;
}

.learn-more-btn{
    background-color: var(--dark-accent);
    height: 2.5rem;
    width: 9rem;
    border-radius: 5px;
    text-align: center;
    padding-top: 1.2rem;
    text-decoration: none;
    color: var(--light-shade);
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
}

.learn-more-btn:hover{
    filter: brightness(110%);
}

.header-image{
    display: flex;
    flex-direction: column;
}

.main-image{
    position: relative;
    top: -17rem;
    width: 54%;
    height: auto;
    border-radius: var(--img-edges);
    margin-left: 45%;    
    z-index: 2;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
}

/* SECTIONS */
main {
    display: flex;
    flex-direction: column;
}

.section-dark{
    background-color: var(--dark-shades);
}

.section-light{
    background-color: var(--light-shade);

}

.section-header{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 5rem;
    position: relative;
    padding-left: 4%;
    margin: 0;
    padding-top: 2rem;
    color: var(--dark-shades);
    -webkit-text-stroke: 1px var(--light-shade);
}

.section-header-light{
    color: var(--light-shade);
    -webkit-text-stroke: 1px var(--dark-shades);
}

/* SKILLS */
.skills-container{
    display: flex;
}


.skills-img{
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 3.5rem;
    /* margin-right: 4%; */
    width: 90%;
    border-radius: var(--img-edges);
    filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(180deg);
}

.skill{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
}

.skill-meter{
    margin-left: 2rem;
    margin-top: 0.35rem;
    width: 12rem;
}

.skill-meter::-webkit-meter-bar{
    background: var(--dark-accent);
}

.skill-meter::-webkit-meter-optimum-value {
    background: var(--light-accent);
}

/* PROJECTS */
.projects-container{
    display: flex;
    justify-content: center;
}

.col-container{
    width: 90%;
    display: flex;
    flex-direction: row;
}

.col{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.card{
    height: 20rem;
    width: 18rem;
    border-radius: var(--img-edges);
    box-shadow: 2px 2px 15px var(--dark-shades);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5rem;
}

.card-dark{
    background-color: var(--dark-shades);
}

.card-medium{
    background-color: var(--dark-accent);
}

.card-light{
    background-color: var(--main-brand-color);
}

.project-img{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1.5rem;
    border-radius: var(--img-edges);
}

.project-text{
    margin: 1rem;
    font-size: 1.5rem;
}

.project-link{
    margin-top: 2rem;
    margin-bottom: -1rem;
    position: relative;
    z-index: 3;
}

.project-overlay{
    position:relative;
    z-index:2;
    right:0; bottom:175px; left:0;
    height:200px;
    margin-bottom: -175px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  rgba(233, 249, 242, 0) 0%, rgba(233, 249, 242,1) 70%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(233, 249, 242,0)), color-stop(70%,rgba(233, 249, 242,1)));
    background: -webkit-linear-gradient(top,  rgba(233, 249, 242,0) 0%,rgba(233, 249, 242,1) 70%);
    background: -o-linear-gradient(top,  rgba(233, 249, 242,0) 0%,rgba(233, 249, 242,1) 70%);
    background: -ms-linear-gradient(top,  rgba(233, 249, 242,0) 0%,rgba(233, 249, 242,1) 70%);
    background: linear-gradient(to bottom,  rgba(233, 249, 242,0) 0%,rgba(233, 249, 242,1) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}

/* RESUME */
.resume-container{
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 3rem;
}

h2{
    border-bottom: 3px solid var(--main-brand-color);
}

/* ABOUT */
.about-container{
    margin-left: 4rem;
    display: flex;
    margin-bottom: 2rem;
}

.about-header{
    margin-bottom: -0.3rem;
}

.about-spacing{
    width: 70%;
}

.title{
    margin-left: 4rem;
    margin-top: 0;
    margin-bottom: 0;
}

/* CONTACT */
.contacts{
    display: flex;
    align-items: center;
}

.fab{
    margin-left: 2rem;
    margin-top: 2rem;
    color: var(--light-shade);
    font-size: 4rem;
}

form{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.form-input{
    margin-top: -20px;
    margin-bottom: 40px;
}

fieldset{
    border: none;
    margin-left: 3rem;
}

.form-list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 16rem;
    margin-bottom: -1rem;
}

.form-input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.form-input > label{
    flex-basis: 10rem;
    align-self: center;
}

.input-field, #message{
    width: 40%;
    height: 2rem;
    border-radius: 5px;
    background-color: var(--dark-accent);
    border: none;
    color: var(--light-shade);
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 5px;
    outline-style: none;
}

#message{
    height: 10rem;
}

.email-form-btn{
    color: #2d2e36;
    background: -webkit-linear-gradient(left, #6961CB, #79dfbd);
    width: 200px;
    height: 60px;
    border-radius: 5px;
    border: none;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 20px;
}


/* HORIZONTAL TABLETS */
@media screen and (max-width: 1200px) {
    header{
        height: 620px;
    }

    .greeting{
        top: 7rem;
    }
    
    .nav-bar{
        padding-left: 5%;
    }

    .quote{
        font-size: 200%;
    }
}

/* VERTICAL TABLETS */
@media screen and (max-width: 850px) {
    header{
        width: 100%;
    }

    .logo{
        height: 150%;
    }

    .nav-bar{
        margin-left: 4%;
        padding-left: 3%;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    .greeting{
        width: 100%;
        margin-left: 6%;
        margin-right: 6%;
    }

    .header-image{
        position: absolute;
        top: 63%;
        left: -81%;
        width: 180%;
    }

    #home{
        display: flex;
        flex-direction: column;
    }
}

/* VERTICAL PHONES */
@media screen and (max-width: 500px) {
    .logo{
        display: none;
    }

    .nav-bar{
        flex: 1;
        margin-right: 4%;
        padding-inline-start: 6.8%;
    }

    .nav-link{
        font-size: 80%;
    }

    .greeting{
        margin-top: -20%;
        width: 90%;
    }

    .quote{
        font-size: 160%;
    }

    .objective{
        width: 100%;
    }

    .header-image{
        top: 75%;
    }
}