body {
    margin: 0;
  }
  
  .navbar {
    margin-bottom: 20px;
  }
  
  :root {
    --navColor1: #E9F9F2;
    --navColor2: #A4DECA;
    --navColor3: #83BFC0;
    --navColor4: #708DA3;
    --navColor5: #5D5A85;
    --navColor6: #3C464F;
  }
  
  html {
    box-sizing: border-box;
  }
  
  /* --- Navigation Menu ------------------------------ */
  
  /* Overlay */
  .overlay {
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    width: 15vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    transform: translateX(15vw);
  }
  
  .overlay-slide-left {
    right: 0;
    transition: all 0.4s ease-in-out;
    transform: translateX(15vw);
  }
  
  .overlay-slide-right {
    right: 0;
    transition: all 0.8s ease-in-out;
    transform: translateX(0vw);
  }
  
  
  /* Nav Menu Items */
  .nav,
  .nav ul {
    height: 100vh;
    margin: 0;
    padding: 0;
    z-index: 10;
    width: 100%;
  }
  
  .nav ul {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    list-style: none;
  }
  
  .nav ul li {
    height: 20%;
    overflow: hidden;
  }
  
  .nav li a {
    position: relative;
    top: 2%;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 50px;
  }
  
  .nav li a:hover {
    transform: scale(1.2);
  }
  
  .nav li:nth-of-type(1) {
    background-color: var(--navColor1);
  }
  
  .nav li:nth-of-type(2) {
    background-color: var(--navColor2);
  }
  
  .nav li:nth-of-type(3) {
    background-color: var(--navColor3);
  }
  
  .nav li:nth-of-type(4) {
    background-color: var(--navColor4);
  }
  
  .nav li:nth-of-type(5) {
    background-color: var(--navColor5);
  }

  .nav li:nth-of-type(6) {
    background-color: var(--navColor6);
  }
  
  /* Slide in animation with delay for each nav item */
  .slide-in-1 {
    animation: slide-in 0.4s linear 0.1s both;
  }
  
  .slide-in-2 {
    animation: slide-in 0.4s linear 0.2s both;
  }
  
  .slide-in-3 {
    animation: slide-in 0.4s linear 0.3s both;
  }
  
  .slide-in-4 {
    animation: slide-in 0.4s linear 0.4s both;
  }
  
  .slide-in-5 {
    animation: slide-in 0.4s linear 0.5s both;
  }

  .slide-in-6 {
    animation: slide-in 0.4s linear 0.6s both;
  }
  
  @keyframes slide-in {
    from {
      transform: translateX(100%);
    }
  
    to{
      transform: translateX(0);
    }
  }
  
  /* Slide out animation with delay for each nav item */
  .slide-out-1 {
    animation: slide-out 0.3s linear 0.6s both;
  }
  
  .slide-out-2 {
    animation: slide-out 0.3s linear 0.5s both;
  }
  
  .slide-out-3 {
    animation: slide-out 0.3s linear 0.4s both;
  }
  
  .slide-out-4 {
    animation: slide-out 0.3s linear 0.3s both;
  }
  
  .slide-out-5 {
    animation: slide-out 0.3s linear 0.2s both;
  }

  .slide-out-6 {
    animation: slide-out 0.3s linear 0.1s both;;
  }
  
  @keyframes slide-out {
    from {
      transform: translateX(100%);
    }
  
    to{
      transform: translateX(0);
    }
  }
  
  /* --- Menu Bars ------------------------------------ */
  
  .menu-bars {
    position: fixed;
    top: 1rem;
    right: 2rem;
    z-index: 8;
    display: inline;
    cursor: pointer;
  }
  
  .bar {
    width: 35px;
    height: 2px;
    background-color: #fff;
    margin: 8px 0;
    transition: 0.4s;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  }

  .menu-bars:hover{
    transform: scale(1.2);
    }
  

