/* Header Font */
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');

/* Text Font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');

html {
    background-color: rgb(33, 33, 33);
    margin: 0;
    padding: 0;
}

:root{
    --light-shade: #E9F9F2;
    --light-accent: #A4DECA;
    --main-brand-color: #83BFC0;
    --dark-accent: #5D5A85;
    --dark-shades: #3C464F;
}

body{
    margin-top: 30px;
}

header, article, aside, .centered-header, label{
    margin: 0px 30px 0px 30px;
    background: -webkit-linear-gradient(left, #6961CB, #79dfbd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ul{
    list-style: none;
}

#experience > ul li::before, #skills > ul li::before, #additionalProjects > ul li::before{
    content: "\2022";
    color: var(--gradient-color);
    font-size: 25px;
    margin-right: 1rem;
}

h3, p, li{
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: -20px;
    margin-bottom: 40px;
}

.personal-info{
    text-align: center;
    border-bottom: none;
}

.header{
    font-family: 'Edu VIC WA NT Beginner', Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding-bottom: 10px;
    border-bottom: 3px solid #2d2e36;
}

.centered-header{
    font-family: 'Edu VIC WA NT Beginner', Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding-bottom: 20px;
}

footer{
    background-color: #2d2e36;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

/* Form */

fieldset{
    border: none;
}

.form-list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 16rem;
    margin-bottom: -1rem;
}

.form-input{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-input > label{
    flex-basis: 10rem;
    align-self: center;
}

.input-field, #message{
    width: 40%;
    height: 2rem;
    border-radius: 5px;
    background-color: #3e404d;
    border: none;
    color: whitesmoke;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 5px;
}

#message{
    height: 10rem;
}

.email-form-btn{
    color: #2d2e36;
    background: -webkit-linear-gradient(left, #6961CB, #79dfbd);
    width: 200px;
    height: 60px;
    border-radius: 5px;
    border: none;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 20px;
}




